* {
  margin: 0;
}
.todo_1 {
  width: 500px;
  height: 349px;
  background-color: coral;

  /* TODO */
  /* 포지션 구현하기 */
  position: relative;
  top: 200px;
  left: 300px;
  /* 불투명도 구현하기 */
  opacity: 0.3;
  z-index: 3;
}
.todo_2 {
  width: 500px;
  height: 349px;
  background-color: lightseagreen;

  /* TODO */
  /* 포지션 구현하기 */
  position: relative;
  top: -150px;
  left: 250px;
  /* 불투명도 구현하기 */
  opacity: 0.5;
  z-index: 2;

}
.todo_3 {
  width: 500px;
  height: 349px;
  background-color: lightskyblue;

  /* TODO */
  /* 포지션 구현하기 */
  position: relative;
  top: -500px;
  left: 150px;
  /* 불투명도 구현하기 */
  opacity: 0.5;
  /* 사진 위로 오게끔 하기 */
  z-index: 1;
}

.sample_img {
  width: 536px;
  height: 347px;

  position: absolute;
  top: 200px;
}
