.box {
    width: 900px;
    height: 300px;
    border: 3px solid lightcoral;
    border-radius: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block {
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    border-radius: 20px;
    margin: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

}